@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

body {
    background-color: rgb(250, 108, 100);
    font-family: 'Cabin', Tahoma, Geneva, Verdana, sans-serif;
}
#landing-page-headshot {
    transform: rotate(90deg);
    height: 18rem;
    width: 25%;
    margin-top: 10%;
    border: 2px solid rgb(255, 255, 255);
}
#landing-page-navbar a {
    font-size: 1.5rem;
    color: #393939;
}
#landing-page-navbar a:hover {
    font-size: 1.6rem;
    color: #727272;
}
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double rgb(67, 67, 67);
    color: rgb(255, 255, 255);
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: rgb(250, 108, 100);
}
#epicodus {
    border-bottom: 3px solid #C95D87;;
    color: #2842d7;
  }
  
